@charset "UTF-8";
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.color {
  color: #7d4bca;
}

.btn {
  display: block;
  padding: .75em 1em;
  color: #fff;
  background-color: #7d4bca;
  text-transform: uppercase;
  border: solid 2px #fff;
  text-align: center;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #7d4bca;
}

.btn-white {
  background: none;
  border: solid 2px #fff;
}

.btn-primary:hover {
  border: solid 2px #7d4bca;
}

.btn-submit {
  display: block;
  text-align: center;
  background-color: #7d4bca;
  color: #fff;
  border: solid 1px #7d4bca;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-submit:hover {
  -webkit-box-shadow: 0px 0px 15px 0px #7d4bca;
          box-shadow: 0px 0px 15px 0px #7d4bca;
}

.wrap-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.wrap-text {
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 2em;
}

.header {
  background-color: #9f69f1;
  color: #fff;
  padding: .5em 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.header-margin {
  margin-bottom: 4em;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrap a {
  color: #fff;
}

.header-wrap__logo {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .1em;
}

.header-wrap__logo .white {
  background-color: #fff;
  padding: 2px 10px;
  font-weight: 700;
  color: #9f69f1;
  letter-spacing: 0;
}

.header-wrap__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrap__menu .menu .item {
  margin-right: 1.5em;
}

.header-wrap__menu .menu .item:last-child {
  margin-right: 0;
}

.header-wrap__menu .menu .item .link {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-wrap__menu .menu .item .link:hover {
  opacity: .5;
}

.header-wrap__mobile--menu {
  display: none;
}

.first {
  background: url("../img/bg.jpg") no-repeat center center/cover;
}

.first-wrap {
  padding: 5em 0 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.first-wrap__info {
  width: 49%;
  margin-bottom: 4em;
}

.first-wrap__info--profession {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  margin: .25em 0 .5em;
}

.first-wrap__info--profession .white {
  background-color: #fff;
  padding: 2px 10px;
  color: #7d4bca;
}

.first-wrap__info--list {
  padding: 0;
  margin: 1.5em 0;
}

.first-wrap__info--list .item {
  margin: 1em 0;
  padding: 0;
  font-weight: 500;
}

.first-wrap__info--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
}

.first-wrap__info--btns .btn {
  width: 40%;
  margin-right: 1em;
}

.first-wrap__man {
  width: 49%;
  margin-left: 10%;
  margin-bottom: -.25em;
}

.about {
  margin: 5em 0;
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-wrap__photo {
  width: 34%;
  position: relative;
}

.about-wrap__photo:before {
  display: block;
  position: absolute;
  content: '';
  background: url("../img/pattern.png") no-repeat center center/cover;
  width: 70%;
  height: 11em;
  margin-top: -1.5em;
  margin-left: 35%;
}

.about-wrap__photo:after {
  display: block;
  position: absolute;
  content: '';
  background: url("../img/pattern.png") no-repeat center center/cover;
  width: 70%;
  height: 11em;
  margin-top: -9.5em;
  margin-left: -5%;
}

.about-wrap__photo img {
  z-index: 2;
  position: relative;
}

.about-wrap__info {
  width: 60%;
}

.about-wrap__info .title {
  text-transform: uppercase;
}

.about-wrap__info p {
  line-height: 23px;
}

.about-wrap__info .btn {
  margin: 2em 0;
  width: 35%;
}

.experience {
  padding: 5em 0 0;
  background: url("../img/bg-exp.jpg") no-repeat center center/cover fixed;
}

.experience-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.experience-wrap__info {
  width: 49%;
}

.experience-wrap__info--card {
  margin: 2em 0;
  color: #fff;
  background-color: #7d4bca;
  padding: .5em 1.5em 2em;
  -webkit-transition: .3s;
  transition: .3s;
}

.experience-wrap__info--card:last-child {
  margin-bottom: 0;
}

.experience-wrap__info--card .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experience-wrap__info--card .title {
  font-size: 22px;
  font-weight: 700;
  margin: .5em 0 .1em;
}

.experience-wrap__info--card .status {
  font-weight: 500;
  font-size: 55px;
  cursor: pointer;
}

.experience-wrap__info--card .date {
  font-size: 15px;
  margin-bottom: 1em;
}

.experience-wrap__info--card .text {
  line-height: 23px;
  display: none;
}

.experience-wrap__info .active {
  -webkit-box-shadow: 0px 0px 15px 0px #7d4bca;
          box-shadow: 0px 0px 15px 0px #7d4bca;
}

.experience-wrap__info .active .text {
  display: block;
}

.experience-wrap__photo {
  width: 49%;
}

.experience-wrap__photo img {
  max-width: 200%;
  margin-bottom: -.2em;
}

.services {
  margin: 5em 0;
}

.services-wrap__text {
  max-width: 50%;
}

.services-wrap__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em -1.5%;
}

.services-wrap__list .item {
  width: 30%;
  margin: 1.25em 1.5%;
  border: solid 1px #7d4bca;
  padding: 2em 1.5em;
  -webkit-transition: .25s;
  transition: .25s;
}

.services-wrap__list .item-title {
  font-weight: 700;
  font-size: 18px;
  margin: .75em 0;
  text-transform: uppercase;
}

.services-wrap__list .item-text {
  line-height: 20px;
  font-size: 15px;
}

.services-wrap__list .item:hover {
  background: #7d4bca;
  color: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px #7d4bca;
          box-shadow: 0px 0px 15px 0px #7d4bca;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .item {
  display: block;
  width: 25%;
  height: 25em;
  position: relative;
}

.portfolio .item .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #7d4bca;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .05s;
  transition: .05s;
  color: #fff;
  font-weight: 500;
}

.portfolio .item:hover {
  cursor: pointer;
}

.portfolio .item:hover .bg {
  opacity: .9;
  visibility: visible;
}

.reviews {
  margin: 5em 0;
}

.reviews-wrap__text {
  max-width: 50%;
}

.reviews-wrap__list .wrapper {
  padding-right: 2em;
}

.reviews-wrap__list .wrapper:nth-child(even) {
  padding-right: 0;
  padding-left: 2em;
}

.reviews-wrap__list .wrapper .item {
  border: solid 1px #e2e2e2;
  padding: 2em 2em 2em 4em;
  position: relative;
}

.reviews-wrap__list .wrapper .item:after {
  content: '”';
  display: block;
  position: absolute;
  left: .1em;
  top: -.05em;
  color: #7d4bca;
  font-weight: 700;
  font-size: 100px;
}

.reviews-wrap__list .wrapper .item-title {
  font-size: 22px;
  font-weight: 700;
}

.reviews-wrap__list .wrapper .item-position {
  font-size: 15px;
  color: #7d4bca;
  margin-bottom: 1em;
  font-weight: 500;
}

.reviews-wrap__list .wrapper .item-text {
  line-height: 20px;
}

.reviews-wrap__list .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -2em;
}

.reviews-wrap__list .slick-dots li {
  background: none;
  border: solid 1px rgba(0, 0, 0, 0.25);
  width: 2em;
  height: .65em;
  cursor: pointer;
  margin: 0 .5em;
}

.reviews-wrap__list .slick-dots li button {
  background: none;
  border: none;
  font-size: 0;
}

.reviews-wrap__list .slick-dots .slick-active {
  background-color: #7d4bca;
  border: solid 1px #7d4bca;
}

.contact {
  margin: 3em 0;
  padding: 3em 0;
  background: url("../img/bg-contact.jpg") no-repeat center center/cover;
}

.contact-wrap {
  position: relative;
}

.contact-wrap__title {
  text-align: center;
  font-weight: 700;
}

.contact-wrap__text {
  margin: 1em auto;
  max-width: 50%;
  text-align: center;
}

.contact-wrap__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 2em auto;
}

.contact-wrap__form--left {
  width: 48%;
}

.contact-wrap__form--right {
  width: 48%;
}

.contact-wrap__form input {
  display: block;
  padding: 1em;
  width: 100%;
  margin-bottom: 1em;
  height: 4em;
  background: none;
  border: solid 1px rgba(0, 0, 0, 0.25);
  font-family: "Raleway", sans-serif;
}

.contact-wrap__form textarea {
  height: 9em;
  padding: 1em;
  resize: none;
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin-bottom: .6em;
  background: none;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

.contact-wrap__form .btn-submit {
  width: 100%;
  margin-bottom: 1em;
  height: 4em;
}

.contact-wrap .form-submit {
  margin: 1em auto;
  color: #fff;
  text-align: center;
  background-color: #01bb1f;
  padding: 1em;
  width: 80%;
  left: 10%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.contact-wrap .submited {
  opacity: 1;
  visibility: visible;
}

.contact-wrap .novalid {
  border: solid 1px #ff0000;
}

.footer {
  background: url("../img/bg-footer.jpg") no-repeat center center/cover;
  margin: 3em 0 0;
  padding: 3em 0;
  color: #fff;
}

.footer-wrap__logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  margin: 1em auto .5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrap__logo .white {
  background-color: #fff;
  padding: .25em;
  color: #7d4bca;
  margin-right: .25em;
}

.footer-wrap__copyright {
  text-align: center;
}

.scroll {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  height: 5em;
  margin-top: -4em;
}

@media (max-width: 1300px) {
  .portfolio .item {
    height: 20em;
  }
}

@media (max-width: 1200px) {
  .first-wrap__info--profession {
    font-size: 32px;
  }
}

@media (max-width: 1100px) {
  .first-wrap__info--profession {
    font-size: 29px;
  }
  .services-wrap__list .item {
    width: 47%;
  }
  .portfolio {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio .item {
    width: 50%;
  }
}

@media (max-width: 1010px) {
  .first-wrap__info--profession {
    font-size: 26px;
  }
}

@media (max-width: 920px) {
  .first-wrap__info--profession {
    font-size: 24px;
  }
}

@media (max-width: 860px) {
  .first-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .first-wrap__info {
    width: 100%;
    margin-bottom: 1em;
  }
  .first-wrap__info--btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first-wrap__man {
    width: 100%;
    margin-left: 0;
  }
  .first-wrap__man img {
    max-width: 75%;
  }
  .about-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about-wrap__photo {
    width: 50%;
    margin: 1em auto;
  }
  .about-wrap__info {
    width: 100%;
  }
  .about-wrap__info .btn {
    margin: 1em auto;
    width: 45%;
  }
  .experience-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .experience-wrap__info {
    width: 100%;
  }
  .experience-wrap__photo {
    width: 100%;
  }
  .experience-wrap__photo img {
    max-width: 100%;
  }
  .services-wrap {
    text-align: center;
  }
  .services-wrap__text {
    max-width: 100%;
  }
  .services-wrap__list {
    margin: 1em 0;
  }
  .services-wrap__list .item {
    width: 100%;
    margin: 1em 0;
  }
  .services-wrap__list .item:nth-child(even) {
    background-color: #7d4bca;
    color: #fff;
  }
  .services-wrap__list .item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .reviews-wrap {
    text-align: center;
  }
  .reviews-wrap__text {
    max-width: 100%;
  }
  .contact-wrap__text {
    max-width: 100%;
  }
  .contact-wrap__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-wrap__form--left {
    width: 90%;
  }
  .contact-wrap__form--right {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .header-wrap__menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  .header-wrap__menu .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .header-wrap__menu .menu .item {
    margin-bottom: .5em;
    width: 100%;
    margin-right: 0;
  }
  .header-wrap__mobile--menu {
    display: block;
    height: 3em;
    width: 3em;
    padding-top: .75em;
    cursor: pointer;
  }
  .header-wrap__mobile--menu span {
    display: block;
    width: 2em;
    height: 1px;
    border-bottom: solid 2px #fff;
    margin-bottom: .5em;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .header-wrap .show-menu {
    opacity: 1;
    visibility: visible;
    left: 0;
    top: 4em;
    background-color: #fff;
    width: 100%;
  }
  .header-wrap a {
    color: #7d4bca;
  }
  .header-wrap .opened {
    padding-top: 1.25em;
  }
  .header-wrap .opened span:first-child {
    display: none;
  }
  .header-wrap .opened span:nth-child(2) {
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header-wrap .opened span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .first-wrap__info--profession {
    font-size: 20px;
  }
  .first-wrap__info .btn {
    width: 100%;
  }
  .portfolio .item {
    width: 100%;
  }
  .contact-wrap__form--left {
    width: 100%;
  }
  .contact-wrap__form--right {
    width: 100%;
  }
}

.webp .first{ background: url(../img/bg.webp) no-repeat center center/cover; }

.webp .about-wrap__photo:before{ background: url(../img/pattern.webp) no-repeat center center/cover; }

.webp .about-wrap__photo:after{ background: url(../img/pattern.webp) no-repeat center center/cover; }

.webp .experience{ background: url(../img/bg-exp.webp) no-repeat center center/cover fixed; }

.webp .contact{ background: url(../img/bg-contact.webp) no-repeat center center/cover; }

.webp .footer{ background: url(../img/bg-footer.webp) no-repeat center center/cover; }
